<div class="container" (click)="animeSelect()">
	<img class="preview" [src]="anime?.most_likely_media?.screenshot_image?.wide_url">
	<img class="premium" src="../../assets/icons/premium.png" *ngIf="this.anime.most_likely_media.premium_only">
	<button class="openEpisode" (click)="openEpisode()"><img src="../assets/icons/openSelectedEpisode.svg"></button>
	<ul class="animepropertys">
		<li><span class="animename">{{anime?.series?.name}}</span></li>
		<li><span class="episodename">{{anime?.most_likely_media?.name}}</span></li>
		<li><span class="episodenumber">Episode: {{anime?.most_likely_media?.episode_number}}</span></li>
	</ul>
	<progress class="playtime" [value]="anime?.most_likely_media?.playhead" [max]="anime?.most_likely_media?.duration"></progress>
</div>
