<div class="animeContainer" (click)="varstore.selectedAnime = anime" [title]="'Open \'' + anime?.most_likely_media?.name + '\' in detailed view'">
	<div class="preview card">
		<img [src]="anime?.most_likely_media?.screenshot_image?.fwide_url">
		<progress class="playtime" [value]="anime?.most_likely_media?.playhead" [max]="anime?.most_likely_media?.duration"></progress>
	</div>
	<svg class="premium" *ngIf="anime?.most_likely_media?.premium_only && !this.varstore.settings['userIsPremium']"><use xlink:href="../assets/icons/premium.svg#premium"></use></svg>
	<span class="newAnime" *ngIf="isNewEpisode()">New</span>
	<button class="openEpisodebtn" (click)="this.openEpisode()" [title]="'Start watching \'' + anime?.most_likely_media?.name + '\''">
		<svg><use xlink:href="../assets/icons/openSelectedEpisode.svg#openSelectedEpisode"></use></svg>
	</button>
	<ul class="animePropertys">
		<li><span class="animeName">{{anime['most_likely_media']['collection_name']}}</span></li>
		<li><span class="episodeName">{{anime['most_likely_media']['name']}}</span></li>
		<li><span *ngIf="anime?.most_likely_media?.episode_number !== ''" class="episodeNumber"><span *ngIf="anime?.most_likely_media?.episode_number !== 'OVA'">Episode: </span>{{anime?.most_likely_media?.episode_number}}</span></li>
	</ul>
</div>
