<nav>
	<button class="watchingbtn" (click)="showSelected(0)" [@isSelected]="selected[0]">Watching</button>
	<button class="unseenbtn" (click)="showSelected(1)" [@isSelected]="selected[1]">Unseen</button>
	<button class="donebtn" (click)="showSelected(2)" [@isSelected]="selected[2]">Done</button>
	<button class="allbtn" (click)="showSelected(3)" [@isSelected]="selected[3]">All ({{totalAnimes}})</button>
	<button class="settingsbtn" (click)="showSelected(4)" [@isSelected]="selected[4]"><img src="../assets/icons/settings.svg"></button>
</nav>
