<nav class="navContainer">
	<button class="watchingbtn" (click)="showSelected(0)" [@isSelected]="selected[0]">Watching<span class="animeCount" [@showTotal]="selected[0]">{{totalWatching}}</span></button>
	<button class="unseenbtn" (click)="showSelected(1)" [@isSelected]="selected[1]">Unseen<span class="animeCount" [@showTotal]="selected[1]">{{totalUnseen}}</span></button>
	<button class="donebtn" (click)="showSelected(2)" [@isSelected]="selected[2]">Done<span class="animeCount" [@showTotal]="selected[2]">{{totalDone}}</span></button>
	<button class="allbtn" (click)="showSelected(3)" [@isSelected]="selected[3]">All<span class="animeCount" [@showTotal]="selected[3]">{{totalAnimes}}</span></button>
	<button class="settingsbtn" (click)="showSelected(4)" [@isSelected]="selected[4]"><img src="../assets/icons/settings.svg"></button>
</nav>
