<div class="selectedAnimeContainer">
	<div class="close" (click)="onClose.emit()"></div>
	<div class="selectedAnime">
		<button class="closebtn" (click)="onClose.emit()">🞩</button>
		<button class="openEpisodebtn" (click)="openEpisode()"><svg><use xlink:href="../assets/icons/openSelectedEpisode.svg#openSelectedEpisode"></use></svg></button>
		<button class="openAnimebtn" (click)="openAnime()"><svg><use xlink:href="../assets/icons/openSelectedAnime.svg#openSelectedAnime"></use></svg></button>
		<button class="completeEpisodebtn" (click)="completeEpisode()"><svg><use xlink:href="../assets/icons/completeSelectedEpisode.svg#completeSelectedEpisode"></use></svg></button>
		<div class="premium" *ngIf="selectedAnime?.most_likely_media?.premium_only && !this.userIsPremium">
			<img class="premiumIcon" src="../../assets/icons/premium.png">
			<span class="premiumDate">{{getDate()}}</span>
		</div>
		<img class="preview" [src]="selectedAnime?.most_likely_media?.screenshot_image?.fwide_url">
		<progress class="playtime" [value]="selectedAnime?.most_likely_media?.playhead" [max]="selectedAnime?.most_likely_media?.duration"></progress>
		<ul class="animePropertys">
			<li><span class="animeName">{{selectedAnime?.series?.name}}</span></li>
			<li><span class="episodeName">{{selectedAnime?.most_likely_media?.name}}</span></li>
			<li><span class="episodeNumber"  *ngIf="selectedAnime?.most_likely_media?.episode_number !== ''">Episode Nr. {{selectedAnime?.most_likely_media?.episode_number}}</span><br><br></li>
			<li><span>{{selectedAnime?.most_likely_media?.description}}</span></li>
		</ul>
	</div>
</div>
