.search{
	position: relative;
	left: 10px;
	width: 373px;
	height: 45px;
	margin-bottom: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
	border: none;
	font-size: 15pt;
}

.search::placeholder{
	opacity: 0.6;
	color: orange;
	font-size: 15pt;
}

.clearsearch{
	position: absolute;
	right: 5px;
	width: 47px;
	height: 47px;
	color: orange;
	background-color: white;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 15pt;
}

#refresh{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	color: white;
	background-color: orange;
	font-size: 20pt;
	font-weight: bold;
}

#content{
	position: relative;
	top: 50px;
	height: 540px;
	left: 0;
	overflow-y: scroll;
	padding-top: 10px;
}
