#content{
	height: 540px;
	left: 0;
	overflow-y: scroll;
	padding-top: 10px;
}

#refreshbtn{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 115px;
	height: 40px;
	border: none;
	border-radius: 25px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

#refreshbtn:hover{
	background-color: var(--darkened-primary-color);
}

#refreshbtn svg{
	position: absolute;
	left: 10px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: 30px;
	height: 30px;
}

#refreshbtn span{
	position: absolute;
	left: 40px;
	top: 0px;
	line-height: 40px;
	font-size: 13pt;
	color: var(--secondary-color);
}

@media only screen and (min-width: 451px), only screen and (min-height: 601px){
	app-splashscreen{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 450px;
		height: 100%;
		min-height: 600px;
		background-color: var(--secondary-color);
		display: inline;
	}
}
