<app-search [hidden]="varstore.selectedPage == 4"></app-search>
<button id="refreshbtn" (click)="refreshQueue()" title="Refresh" [hidden]="(varstore.selectedPage == 4)||(varstore.loading)">
	<svg><use xlink:href="../assets/icons/refresh.svg#refresh"></use></svg>
</button>
<button id="settingsbtn" (click)="varstore.selectedPage = 4" title="Settings" [hidden]="varstore.selectedPage == 4">
	<svg><use xlink:href="../assets/icons/settings.svg#settings"></use></svg>
	<span [hidden]="varstore.notifications.length == 0" class="notificationCount">{{varstore.notifications.length}}</span>
</button>
<div id="content">
	<div *ngIf="varstore.cachedQueue && varstore.selectedPage != 4" class="cacheNotification">
		<svg><use xlink:href="../assets/icons/offline.svg#offline"></use></svg>
		<span>Cached</span>
	</div>
	<app-category [animes]="watching" [hidden]="varstore.selectedPage != 0"></app-category>
	<app-category [animes]="unseen" [hidden]="varstore.selectedPage != 1"></app-category>
	<app-category [animes]="done" [hidden]="varstore.selectedPage != 2"></app-category>
	<app-category [animes]="animes" [hidden]="varstore.selectedPage != 3"></app-category>
	<app-spinner id="spinner" [hidden]="(varstore.selectedPage == 4)||(!varstore.loading)"></app-spinner>
</div>
<app-navbar [totalWatching]="watching?.length" [totalUnseen]="unseen?.length" [totalDone]="done?.length" [totalAnimes]="animes?.length"></app-navbar>
<app-selected-anime *ngIf="!IsObjectEmpty(varstore.selectedAnime)" id="selectedAnime" (onComplete)="refreshQueue()"></app-selected-anime>
<app-settings id="settings" (onSettingsChanged)="onSettingsChangedEventHandler()" [hidden]="varstore.selectedPage != 4"></app-settings>
<app-setup *ngIf="varstore.settings['firstuse']" (onSetupComplete)="onSetupCompleteEventHandler($event)"></app-setup>
