<app-tabnav [totalWatching]="watching?.length" [totalUnseen]="unseen?.length" [totalDone]="done?.length" [totalAnimes]="animes?.length"></app-tabnav>
<div id="warnings">
	<app-warning *ngIf="updateVersion !== 0" (click)="openUpdate()" [message]="'New version available: '+updateVersion" [type]="'update'"></app-warning>
	<app-warning *ngIf="errorMessage !== ''" [message]="errorMessage" [type]="'error'"></app-warning>
	<app-warning *ngIf="cachedQueue" [message]="'Cached'" [type]="''"></app-warning>
</div>
<div id="content">
	<app-category [animes]="watching" [userIsPremium]="settings['userIsPremium']" (onSelect)="onSelectEventHandler($event)"></app-category>
	<app-category [animes]="unseen" [userIsPremium]="settings['userIsPremium']" (onSelect)="onSelectEventHandler($event)" hidden></app-category>
	<app-category [animes]="done" [userIsPremium]="settings['userIsPremium']" (onSelect)="onSelectEventHandler($event)" hidden></app-category>
	<app-category [animes]="animes" [userIsPremium]="settings['userIsPremium']" (onSelect)="onSelectEventHandler($event)" search="true" hidden></app-category>
	<app-settings id="settings" [sessionid]="settings['sessionid']" (onSettingsLoaded)="onSettingsLoadedEventHandler($event)" (onSettingsChanged)="settings = $event" hidden></app-settings>
	<app-spinner id="spinner"></app-spinner>
</div>
<button id="refreshbtn" (click)="refreshQueue()" hidden><img src="../assets/icons/refresh.svg"><span>Refresh</span></button>
<app-selected-anime id="selectedAnime" [selectedAnime]="selectedAnime" [userIsPremium]="settings['userIsPremium']" (onComplete)="refreshQueue()" hidden></app-selected-anime>
<app-setup *ngIf="settings['firstuse']" (onSetupComplete)="onSetupCompleteEventHandler($event)"></app-setup>
<app-splashscreen></app-splashscreen>
