<div class="setupContainer">
	<svg class="logo"><use xlink:href="../assets/icons/logo.svg#logo"></use></svg>
	<div class="page0" *ngIf="page === 0">
		<div class="title">Crunchysync</div>
		<div class="subtitle">Manage your queue with ease.</div>
		<button class="nextbtn" (click)="nextPage()">Get started<svg><use xlink:href="../assets/icons/arrows.svg#right"></use></svg></button>
	</div>
	<div class="page1" *ngIf="page === 1">
		<div class="title">Credentials</div>
		<div class="subtitle">Credentials will be encrypted and saved in Chrome's local storage! Storing your password could inherit security risks!</div>
		<div class="error card" [hidden]="errorMessage == ''" >{{errorMessage}}</div>
		<input id="setupUsername" class="username card" placeholder="Username" value="{{varstore.settings['username']}}">
		<input id="setupPassword" class="password card" placeholder="Password" type="password" value="{{varstore.settings['password']}}">
		<button class="backbtn" (click)="previousPage()"><svg><use xlink:href="../assets/icons/arrows.svg#left"></use></svg>Back</button>
		<button class="nextbtn" (click)="saveCredentials()">Next<svg><use xlink:href="../assets/icons/arrows.svg#right"></use></svg><app-spinner *ngIf="saving"></app-spinner></button>
	</div>
	<div class="page2" *ngIf="page === 2">
		<div class="title">Options</div>
		<div class="checkbox setupForceUsRegionContainer" *ngIf="!varstore.production"><label for="setupForceUsRegion"><input id="setupForceUsRegion" type="checkbox" [checked]="varstore.settings['forceUsRegion']">Force session with US region</label></div>
		<div class="checkbox setupDisableBackgroundChecksContainer"><label for="setupDisableBackgroundChecks"><input id="setupDisableBackgroundChecks" type="checkbox" [checked]="varstore.settings['disableBackgroundChecks']">Disable background checks</label></div>
		<button class="backbtn" (click)="previousPage()"><svg><use xlink:href="../assets/icons/arrows.svg#left"></use></svg>Back</button>
		<button class="nextbtn" (click)="saveOptions()">Next<svg><use xlink:href="../assets/icons/arrows.svg#right"></use></svg></button>
	</div>
	<div class="page3" *ngIf="page === 3">
		<div class="title">Themes</div>
		<div class="themesContainer">
			<div class="radio card setupTheme light"><input id="setupThemeLight" type="radio" name="theme" [checked]="varstore.settings['theme'] == 'light'" (click)="this.setTheme('light')"><label for="setupThemeLight"></label><span>Light</span></div>
			<div class="radio card setupTheme dark"><input id="setupThemeDark" type="radio" name="theme" [checked]="varstore.settings['theme'] == 'dark'" (click)="this.setTheme('dark')"><label for="setupThemeDark"></label><span>Dark</span></div>
		</div>
		<button class="backbtn" (click)="previousPage()"><svg><use xlink:href="../assets/icons/arrows.svg#left"></use></svg>Back</button>
		<button class="nextbtn" (click)="saveTheme()">Next<svg><use xlink:href="../assets/icons/arrows.svg#right"></use></svg></button>
	</div>
	<div class="page4" *ngIf="page === 4">
		<div class="title">Setup completed</div>
		<div class="subtitle">You successfully set up Crunchysync!</div>
		<button class="backbtn" (click)="previousPage()"><svg><use xlink:href="../assets/icons/arrows.svg#left"></use></svg>Back</button>
		<button class="nextbtn" (click)="finishSetup()">Finish</button>
	</div>
</div>
