<div class="setupContainer">
	<img src="../assets/icons/premium.png">
	<div class="page0" *ngIf="page === 0">
		<span class="title">Crunchysync</span>
		<span class="subtitle">Manage your queue with ease.</span>
		<button class="getStarted" (click)="nextPage()">Get started -></button>
	</div>
	<div class="page1" *ngIf="page === 1">
		<span class="title">Credentials</span>
		<span class="subtitle">Credentials will be encrypted and saved in Chrome's local storage! Storing your password could inherit security risks!</span>
		<input id="setupUsername" class="username" placeholder="Username">
		<input id="setupPassword" class="password" placeholder="Password" type="password">
		<button class="nextbtn" (click)="saveCredentials()">Next -></button>
		<button class="skipbtn" (click)="nextPage()">Skip...</button>
	</div>
	<div class="page2" *ngIf="page === 2">
		<span class="title">Options</span>
		<div class="checkbox setupForceUsRegionContainer"><label for="setupForceUsRegion"><input id="setupForceUsRegion" type="checkbox">Force session with US region (Not working)</label></div>
		<div class="checkbox setupDisableBackgroundChecksContainer"><label for="setupDisableBackgroundChecks"><input id="setupDisableBackgroundChecks" type="checkbox">Disable background checks</label></div>
		<div class="checkbox setupUserIsPremiumContainer"><label for="setupUserIsPremium"><input id="setupUserIsPremium" type="checkbox">Disable non-premium features?</label></div>
		<button class="nextbtn" (click)="saveOptions()">Next -></button>
	</div>
	<div class="page3" *ngIf="page === 3">
		<span class="title">Setup completed</span>
		<span class="subtitle">You successfully set up Crunchysync!</span>
		<button class="finishbtn" (click)="finishSetup()">Finish</button>
	</div>
</div>
