@font-face {
	font-family: Roboto;
	src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

*{
   font-family: 'Roboto', sans-serif;
	 --primary-color: #f78c25;
	 --secondary-color: white;
	 --tertiary-color: #333;
	 --error-color: #F44336;
	 --success-color: #4caf50;
 }

*::-webkit-scrollbar {
	top: 50px;
  width: 5px;
	height: 550px;
}

*::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0)
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

progress::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, 0);
}

progress::-webkit-progress-value {
  background-color: var(--primary-color);
}

html, body{
	width: 450px;
	height: 600px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #f3f3f3;
	overflow: hidden;
}
