.settingsContainer .settingstitle{
	position: absolute;
	top: 10px;
	left: 10px;
	color: var(--primary-color);
	font-size: 20pt;
	font-weight: bold;
}

.settingsContainer .version{
	position: absolute;
	top: 22px;
	left: 110px;
	font-size: 11pt;
}

.settingsContainer .username{
	position: absolute;
	top: 50px;
	left: 10px;
	width: 420px;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
	border: none;
}

.settingsContainer .password{
	position: absolute;
	top: 90px;
	left: 10px;
	width: 420px;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
	border: none;
}

.settingsContainer .sessionid{
	position: absolute;
	top: 130px;
	left: 10px;
	width: 420px;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
	border: none;
}

.settingsContainer .deviceid{
	position: absolute;
	top: 170px;
	left: 10px;
	width: 420px;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
	border: none;
}

.settingsContainer .reloadbtn{
	position: absolute;
	top: 210px;
	left: 220px;
	width: 130px;
	height: 32px;
	border-radius: 5px;
	border: none;
}

.settingsContainer .reloadbtn:hover{
	background-color: rgba(0, 0, 0, 0.13);
}

.settingsContainer .savebtn{
	position: absolute;
	top: 210px;
	left: 360px;
	width: 80px;
	height: 32px;
	border-radius: 5px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: none;
}

.settingsContainer .savebtn:hover{
	background-color: rgba(247, 140, 37, 0.8);
}

.settingsContainer .visitbtn{
	position: absolute;
	top: 130px;
	right: 5px;
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 20pt;
	color: var(--primary-color);
	border: none;
}

.settingsContainer .visitbtn:hover{
	background-color: rgba(0, 0, 0, 0.03);
}

.settingsContainer .visitbtn img{
	width: 100%;
	height: 100%;
}
