.settingsContainer{
	margin-bottom: 10px;
}

.settingsContainer .title{
	color: var(--primary-color);
	font-size: 20pt;
	font-weight: bold;
	margin-left: 20px;
}

.settingsContainer .subtitle{
	font-size: 12pt;
	margin-left: 20px;
	margin-bottom: 15px;
	color: var(--tertiary-color);
}

.settingsContainer .logo{
	width: 128px;
	margin-left: calc(50% - 64px);
	margin-right: calc(50% - 64px);
}

.settingsContainer .version{
	font-size: 11pt;
	width: 100%;
	text-align: center;
	color: var(--tertiary-color);
}

.settingsContainer input{
	width: 400px;
	height: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: gray 1px solid;
}

.settingsContainer #sessionid{
	width: 299px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.settingsContainer .reloadbtn{
	width: 130px;
	height: 32px;
	border-radius: 5px;
	border: solid 1px var(--tertiary-color);
	margin-top: 30px;
	margin-left: calc(100% - 142px);
	color: var(--tertiary-color);
	background-color: var(--secondary-color);
}

.settingsContainer .reloadbtn:hover{
	background-color: var(--darkened-secondary-color);
}

.settingsContainer .checkbox{
	margin-top: -6px;
	width: calc(100% - 20px);
}

.settingsContainer .savebtn{
	position: relative;
	width: 80px;
	height: 32px;
	border-radius: 5px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: none;
	margin-left: calc(100% - 93px);
}

.settingsContainer .savebtn img{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 5px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.settingsContainer .savebtn div{
	position: absolute;
	left: 32px;
	top: 0;
	line-height: 32px;
	width: calc(100% - 32px);
}

.settingsContainer .sessionbtn{
	position: relative;
	top: -8px;
	width: 100px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: none;
}

.settingsContainer .sessionbtn img{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 5px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.settingsContainer .sessionbtn div{
	position: absolute;
	left: 32px;
	top: 0;
	width: calc(100% - 32px);
	line-height: 32px;
}
